p {
	overflow: auto;
	/* padding-left: 5px; */
	width: 190px;
	/* height: 180px; */
	height: 150px;
	margin-left: -10px;
	padding: 10px;
}

.tamanho-tag {
	height: 20px;
}

.espaco-tag {
	margin-left: 5px;
	margin-top: 5px;
}

.transparencia-article {
	background-color: #979a9c;
	opacity: 0.7;
	z-index: 99998;
	width: 200px;
	height: 30px;
	margin-left: -16px;
	margin-top: -12px;
}

.opcoesDoCartao {
	display: none;
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-1em, -50%);
	white-space: nowrap;
	padding-left: 10%;
}

.cartao:hover .opcoesDoCartao {
	display: flex;
}

.cartaoCriado {
	display: flex !important;
}

.opcoesDoCartao-opcao {
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	height: 2em;
	width: 2em;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid;
	border-color: #AEAEAE;
	background-color: #EEEEEE;
	background-size: 1em 1em;
	background-position: center center;
	background-repeat: no-repeat;
}

.btnTag {
	margin-right: .5em;
}

.fa-trash {
	color: gray;
}
.opcoesDoCartao-radioTipo{
	display: none;
}

.opcoesDoCartao-tipo {
	background: currentcolor;
	border-color: rgba(0,0,0,.5);
	box-sizing: border-box;
}

.opcoesDoCartao-radioTipo:checked + .opcoesDoCartao-tipo {
	background: currentcolor;
	border: 5px solid rgba(0,0,0,.5);
}

.cartao {
	width: 200px;
	height: 200px;
	margin: 32px 16px;
	padding: 16px;
	line-height: 1.5;
	/* overflow: visible; */
	position: relative;
	word-wrap: break-word;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	background-color: #EBEF40;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	transition: .2s ease-in;
}

.cartao--some {
	opacity: 0;
	transition: 0.5s;
	transform: scale(0.2);
}

.cartao--ajuda {
	opacity: 0.6;
}

.cartao.cartao--focado,
.cartao:hover,
.cartao:focus {
	/* transform: scale(1.1); */
	z-index: 2;
}

.cartao .opcoesDoCartao-opcao {
	pointer-events: none;
	/* opacity: 0; */
	transition: opacity .3s;
}

/*
.cartao:focus .opcoesDoCartao-opcao,
.cartao--focado .opcoesDoCartao-opcao{
	opacity: 1;
}
*/


.cartao-conteudo {
	white-space: pre-line;
	/* max-height: 400px; */
	/* overflow: hidden; */
	/* font-size: 1em; */
	font-size: 1em;
}

.cartao-conteudo * {
	font-size: 1em!important;/*desculpa a gente*/
}

.cartao-conteudo img {
	width: 100%;
}

.cartao:hover .cartao-conteudo,
.cartao:focus .cartao-conteudo,
.cartao-conteudo:focus {
	overflow: auto;
}

@media (min-width: 560px){
	
	.cartao {
		flex-grow: 1;
		display: inline-block;
		text-align: left;
		box-sizing: border-box;
		vertical-align: top;
		max-width: 377px;
	}
	
	.cartao--textoPequeno .cartao-conteudo {
		font-size: 1em;
		width: 11em;
		flex-basis: 11em;
	}
	
	.cartao--textoMedio .cartao-conteudo {
		font-size: 1.5em;
		width: 9em;
		flex-basis: 9em;
	}
	
	.cartao--textoGrande .cartao-conteudo {
		font-size: 2em;
		width: 6em;
		flex-basis: 6em;
	}
	
	.cartao:hover .opcoesDoCartao-opcao, .cartao--focado .opcoesDoCartao-opcao {
		opacity: 1;
		pointer-events: auto;
	}
}
.opcpes {
	width: 13%;
}

.btnTag {
	color: gray;
}