<article #cartao id="cartao_{{_id}}" [style.backgroundColor]="cor" tabindex="0" class="cartao" (focusin)="addHover(cartao)" (focusout)="removeHover(cartao)">
  <div class="opcoesDoCartao row">
    <button class="opcoesDoCartao-opcao" (click)="removerCartao()" tabindex="0">
      <i class="fa fa-trash"></i>
    </button>
    <button class="opcoesDoCartao-opcao btnTag" (click)="editarTag(cartao,tags)" tabindex="0">
      <i class="fa fa-bookmark"></i>
    </button>
    <div *ngFor="let opcao of opcoesCartao" class="opcoes"><input (click)="mudaCorCard(cartao, opcao.codigo,p,tags)" type="radio" name="corDoCartao{{_id}}" value="{{opcao.codigo}}" id="{{opcao.class}}{{_id}}" class="opcoesDoCartao-radioTipo" [checked]="opcao.codigo == cor">
      <label (keyup.enter)="mudaCorCard(cartao, opcao.codigo,p,tags)" (keyup.space)="mudaCorCard(cartao, opcao.codigo,p,tags)" for="{{opcao.class}}{{_id}}" class="opcoesDoCartao-tipo opcoesDoCartao-opcao" [style.backgroundColor]="opcao.codigo" tabindex="0">
      </label>
    </div>
  </div>
  <p #p tabindex="-1" id="{{_id}}" class="cartao-conteudo" (focusout)="salvarTexto(cartao,p,tags)" contenteditable="" tabindex="0">{{conteudo}}</p>
  <!-- <span *ngFor="let tag of tags"  #litag (click)="buscaTag.emit(litag.textContent)" class="badge ml-2 mb-3 badge-light">{{tag}}</span> -->
  <div *ngIf="tags.length > 0">
    <div class="transparencia-article">
      <span *ngFor="let tag of tags" #litag (click)="buscaTag.emit(litag.textContent)" class="badge badge-light tamanho-tag espaco-tag">{{tag}}</span>
    </div>
  </div>
  
  <!-- <p class="cartao-conteudo" contenteditable="" tabindex="0">{{conteudo}}</p> -->
  
  
</article>