<cabecalho [mudaLayout]="mudaLayout" [usuarios]="$usuarios" [usuarioLogado]="$usuarioLogado" [mural]="mural" (busca)="mudarBusca($event)" [onToggleForm]="mudarForm" [mudarAjuda]="mudarAjuda" [titulo]="titulo"></cabecalho>
<formulario *ngIf="formBool" [salvarCartao]="salvarCartao" [alimentaTag]="alimentaTag" [onToggleForm]="mudarForm" [tags]="tags"></formulario>
<section [ngClass]="muralLinha ? 'distancia-nav mural--linha' : 'distancia-nav'">
  <div class="row" #mural>
    <div class="col-md-1 mr-1">
      <aside class="cor-menu-tags">
        <ul>
          <li (click)="mudarBuscaTag('')" style="font-weight: bold; color: #ffffff; padding-left: 15px;">Marcadores</li>
          <li>
            <input #criarTag (keyup.enter)="salvarTag(criarTag)" style="background-color: #f58b65; border: 1px solid #f58b65" class="form-control" placeholder="Adicionar Marcador" aria-label="Adicionar Marcador">
          </li>
          <tags *ngFor="let tag of tags" [tag]="tag"></tags>
        </ul>
      </aside>
    </div>
  </div>
  <div class="row distancia-row">
    <div [ngClass]="muralLinha ? 'col-md-3 card-linha' : 'col-md-12'">
      <div *ngIf="ajudasBool">
        <ajudas [listaAjuda]="ajudas" [onMudarAjuda]="mudarAjuda"></ajudas>
      </div>
      <cartoes *ngFor="let cartao of cartoes | filtro : busca | filtroTag : buscaTag" (buscaTag)="mudarBuscaTag($event)" [removerCartao]="removerCartao.bind(this,cartao._id)" [cor]="cartao.cor" [_id]="cartao._id" [conteudo]="cartao.conteudo" [tags]="cartao.tags"></cartoes>
    </div>
  </div>
</section>
<div class="cobre-tudo" #cobreTudo *ngIf="formBool || ajudasBool" (click)="closeModal()"></div>