.mural {
	font-size: 1.2rem;
}

.distancia-row {
	/* padding-left: 20%; */
	padding-left: 20vw;
	padding-top: 6vh;
}

.distancia-nav {
	/* margin-top: 12vh; */
	padding-top: 12vh;
}

.cobre-tudo{
	background-color: #383d41;
	opacity: 0.7;
	z-index: 99998;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.cor-menu-tags{
	background:#f58b65;
}
@media (min-width: 560px){
	.mural {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}

	.mural--linha {
		flex-direction: column;
	}

	.mural--linha .cartao {
		flex-basis: auto;
		width: auto;
		display: block;
	}
}

@media (min-width: 900px){
	.mural {
		align-items: center;
		font-size: 1.3rem;
	}
}


html{height:100%;}

*
{
margin:0px;
padding:0px;
outline:none;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-ms-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}


body{
background: #fff;
padding:10px;
font-family:'Source Sans Pro', sans-serif;;
color:#000;
padding:0px;
margin:0px;
}

aside
{
height:100%;
width:15%;
left: 0;
position: fixed;
background:#222527;
}

ul
{
padding:0px;
margin:0px;
/* border-bottom:1px solid #1c1f21; */
}

ul li
{
list-style-type:none;
color:#5a5b5b;
padding:10px;
border-bottom:1px solid #f15a24;
border-top:1px solid #f15a24;
overflow: auto;
cursor:pointer;
}

ul li:first-child{border-top:none;}

.fa
{
color:#18a3fc;
display:block;
}

ul li:hover .fa
{
color:#0f82da;
}

ul li:hover .linktitle
{
color:#6c6d6e;
}

ul li div
{
float:left;
}

.icons
{
padding:10px;
}

.linktitle
{
line-height: 35px;
padding-left: 10px;
}


/* Reponsive menu code */
@media all and (max-width: 600px) {
aside
{
width:60px;
padding:0px 10px;
}

ul li
{
/* overflow:hidden; */
padding:0px 10px;
}

.linktitle
{
position: absolute;
z-index: -1;
left: -50px;
padding: 29px 15px;
line-height:0px;
background:#fff;
}

ul li:hover .linktitle
{
left:80px;
}
.icons
{
padding: 20px 10px;
}

ul li:hover .icons
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);
}
}
.card-linha {
	left: 30%;
}
