aside {
    height:600px;
    width:160px;
    background:#222527;
}

.cor-marcadores {
    font-weight: bold;
    color: #ffffff;
}

li {
    list-style-type:none;
    color:#5a5b5b;
    padding:10px;
    border-bottom:1px solid #f58b65;
    border-top:1px solid #f58b65;
    overflow: auto;
    cursor:pointer;
}

.fa {
    color:#f58b65;
    display:block;
}

li:hover .fa.lixeira{
    color:#fff;
}

li:hover .fa.tag{
    color:#f15a24;
}

li:hover .linktitle {
    color:#6c6d6e;
}

li div {
    float:left;
}

.icons {
    padding:10px;
}

.linktitle {
    line-height: 35px;
    padding-left: 10px;
}


/* Reponsive menu code */
@media all and (max-width: 600px) {
aside {
    width:60px;
    padding:0px 10px;
}

.linktitle {
    position: absolute;
    z-index: -1;
    left: -50px;
    padding: 29px 15px;
    line-height:0px;
    background:#fff;
}

li:hover .linktitle{
    left:80px;  
}
.icons {
    padding: 20px 10px;
}

li:hover .icons{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
}
