<li (click)="buscaTag(litag.textContent,$event)">
    <div class="icons">
        <i class="fa fa-bookmark tag"></i>
    </div>
    <div style="color: #ffffff" class="linktitle" #litag>
        {{tag.nome}}
    </div>
    <div class="icons" style="float: right;">
        <i (click)='removerTag(tag,$event)' class="fa fa-trash lixeira"></i>
    </div>
</li>