.formNovoCartao {
	font-size: 1rem;
	margin: 0 auto 2em;
	background: rgba(0,0,0,.15);
	padding-top: 1.5em;
	padding-bottom: 1em;
	position: relative;
	z-index: 3;
}

.formNovoCartao-conteudo {
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	line-height: 1.5;
	margin: 0 auto;
	padding: .5em;
	height: 3em;
	background: #FFF;
	resize: none;
	transition: height .1s linear;
}

.transparencia-marcadores {
	background-color: #979a9c;
	opacity: 0.9;
	z-index: 99998;
	width: 100%;
	height: 30px;
}

.transparencia-tags {
	background-color: #979a9c;
	opacity: 0.7;
	z-index: 99998;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 15%;
}

.formNovoCartao-conteudo:focus {
	height: 7em
}

.formNovoCartao-salvar {
	font-size: 1em;
	border: none;
	display: block;
	margin: 1em auto 0;
	padding: .35em 1em;
	background: rgba(70,20,170,.25);
}

.formNovoCartao-msg {
	will-change: transform;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 15px;
	box-sizing: border-box;
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	transform: translateY(100%);
	background: #ef5350;
	color: rgba(0,0,0,.6);
	font-weight: bold;
	background: #454545;
	color: white;
	font-weight: normal;
	animation: toast 5s ease forwards;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	text-align: center;
}

.formNovoCartao-msg:first-letter {
	text-transform: uppercase;
}

@keyframes toast {
	0%, 100% {
		opacity: 0;
		transform: translateY(100%)
	}
	10%, 90% {
		opacity: 1;
		transform: translateY(0%)
	}
}

.cartao-prot{
	width: 100%;
	height: 90%;
}
.add-card {
	width: 30%;
	height: 60%;
	z-index: 99999;
	position: absolute;
	background-color: #FFF;
	left: 35%;
	top: 20%;
	box-shadow: 0px 0px 10px 4px grey;
	border-radius: 10px
}

.titulo-novo-card {
	width: 100%;
	height: 10%;
	background-color: #F15A24;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.novo-card {
	margin: 16px 16px 32px 16px;
	line-height: 1.5;
	position: relative;
	word-wrap: break-word;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	background: #EBEF40;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	transition: .2s ease-in;
	height: 40%;
}

.cores-card {
	width: 90%;
	height: 20%;
	margin: 3%;
	display: flex;
}
.cor {
	border-radius: 50%;
	width: 9%;
	margin: 3%;
	text-align: center;
	color: #FFF;
	font-weight: bolder;
}
.amarelo {
	background-color: #EBEF40;
}
.vermelho {
	background-color: #F05450;
}
.azul {
	background-color: #92C4EC;
}
.verde {
	background-color: #76EF40;
}

p {
	overflow: auto;
	padding: 10px;
	width: 100%;
	height: 100%;
}

.cartao-conteudo {
	white-space: pre-line;
	font-size: 1em;
	outline: #FFF;
}

.cartao-conteudo * {
	font-size: 1em!important;/*desculpa a gente*/
}

.selecao-cor {
	box-shadow: 0px 0px 0px 4px grey;
}

.btns {
	bottom: 2%;
	margin-left: 40%;
	margin-top: 3%;
    position: absolute;
}

.btnFrame {
	margin-right: 10px;
	background-color: #F15A24;
	color: #FFF;
	font-weight: bolder;
}

li {
    list-style-type:none;
    color:#5a5b5b;
    padding:10px;
    /* border-bottom:1px solid #f58b65;
    border-top:1px solid #f58b65; */
    overflow: auto;
    cursor:pointer;
}

.icons {
    padding:10px;
}

.fa {
    color:#f58b65;
    display:block;
}

.li-tag:hover{
	background: #f58b65;
	color: #FFF;
	opacity: 0.6;
}
