<div class="add-card" #addcard tabindex="-1">
  <div class="titulo-novo-card pt-1">
    Marcadores
  </div>

  <ul>
    <li class="li-tag" *ngFor="let tag of tags" (click)="addTag(tag)">{{tag.nome}}</li>
  </ul>

  <div class="transparencia-tags">
    <span class="badge badge-dark tamanho-tag espaco-tag m-1">Selecionados:</span>
    <span *ngFor="let tag of cartaoTags" #litag class="badge badge-light tamanho-tag espaco-tag m-1">{{tag}}</span>
  </div>

  <div class="btns">
    <button class="btn btnFrame" (click)="onToggleForm()">Fechar</button>
  </div>
</div>