<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="d-flex w-50">
    <img src="../../../assets/img/logo-a3.png" width=50 height=50/>
    <a class="navbar-brand cabecalho-logo mr-0" href="#">{{titulo}}</a>
  </div>
  <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" #inputBusca (input)="busca.emit(inputBusca.value)"
    aria-label="Pesquisa">
  <ul class="navbar-nav ml-auto mr-5">
    <li class="nav-item active">
      <button #btnMudaLayout class="nav-link" (click)="mudaLayout(mural,btnMudaLayout)" title="Layout" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
        Linhas
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" #btnAjuda title="Ajuda" (click)="mudarAjuda()" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
        <i class="fa fa-question"></i>
      </button>
    </li>
    <li class="nav-item">
      <button (click)="addCartao()" class="nav-link" #btnAdd title="Adicionar cartão" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
        <i class="fa fa-plus"></i>
      </button>
    </li>
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-user dropdown-toggle">
        <img src="{{usuarioLogado.img}}" class="avatar"> {{usuarioLogado.usuario}}
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngFor="let usuario of usuarios" (click)="mudarUsuarioLogado(usuario)" role="menuitem" class="pl-2">
            <img src="{{usuario.img}}" class="avatar"> {{usuario.usuario}}
            <span class="caret"></span>
            <div style="height: 5px"></div>
        </li>

      </ul>
    </div>
  </ul>
</nav>