nav {
	background-color: #F15A24; 
}

.opcoesDaPagina {
	font-size: 1rem;
	flex: 1;
	text-align: right;
}

.opcoesDaPagina-opcao {
	font-size: 1em;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.opcoesDaPagina-opcao + .opcoesDaPagina-opcao {
	margin-left: 1em;
}

.opcoesDaPagina-botao {
	padding: .5em;
	max-width: 6.5em;
	border: none;
	margin: 0.5em;
	background: rgba(0,0,0,.25);
	color: white;
}

.cabecalho-logo {
	font-size: 2em;
	margin-bottom: .3em;
	font-family: "Verdana", "Helvetica", sans-serif;
	color: rgba(255,255,255,.7);
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0;
}

.btn-user {
	color: #FFF;
	border-color: #FFF;
	background-color: #F15A24;
	width: 150px;
}

.avatar {
	border-radius: 50%;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}
