<div class="ajuda-modal">
  <div class="ajuda-titulo pt-1">
    Precisa de Ajuda?
  </div>
  <div class="ajuda-panel">
      <div class="ajuda-lista" *ngFor="let ajuda of listaAjuda" >
        {{ajuda}}
      </div>
      <div class="btns">
        <button class="btn btnFrame" (click)="onMudarAjuda()">Fechar</button>
      </div>
  </div>
</div>