
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track
{
  background: #F15A24;
  border: solid 2px rgba(241, 91, 36, 0.637);
}

::-webkit-scrollbar-thumb
{
  background: rgba(196, 64, 2, 0.685);
}

::-webkit-scrollbar-thumb:hover
{
  background: rgb(255, 163, 0);
}

::-webkit-scrollbar-thumb:active
{
  background: rgba(196, 64, 2, 0.685);
}

::-webkit-scrollbar-button
{
  border-style: solid;
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-button:vertical:decrement
{
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent rgba(196, 64, 2, 0.685) transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent rgb(255, 163, 0) transparent;
}


/* Down */
::-webkit-scrollbar-button:vertical:increment
{
  border-width: 14px 7px 0 7px;
  border-color: rgba(196, 64, 2, 0.685) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover
{
  border-color: rgb(255, 163, 0) transparent transparent transparent;
}

::-webkit-scrollbar-button:horizontal:decrement
{
  border-width: 7px 14px 7px 0;
  border-color: transparent rgba(196, 64, 2, 0.685) transparent transparent;
}

::-webkit-scrollbar-button:horizontal:decrement:hover
{
  border-color: transparent rgb(255, 163, 0) transparent transparent;
}

::-webkit-scrollbar-button:horizontal:increment
{
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent rgba(196, 64, 2, 0.685);
}

::-webkit-scrollbar-button:horizontal:increment:hover
{
  border-color: transparent transparent transparent rgb(255, 163, 0);
}

.ajuda-modal {	
	width:50%;
	z-index: 99999;
	position: absolute;
	background-color: #FFF;
	left: 15%;
	top: 10%;
	box-shadow : 0px 0px 10px 4px grey;
	border-radius: 10px;
}

.ajuda-panel {
	max-height: 300px;
	height: 90%;
	overflow: auto;
	margin-bottom: 70px;
}

.ajuda-titulo {
	width: 100%;
	height: 10%;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	background-color: rgb(255, 123, 0);	
	text-align: center;
	color: #FFF;
	font-weight: bold;
	border-top-left-radius: 10px;
   	border-top-right-radius: 10px;
}

.ajuda-lista {
	border-radius: 10px;
	margin: 32px 16px;
	padding: 16px;
	line-height: 1.5;
	overflow: visible;
	position: relative;
	word-wrap: break-word;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	background: #f58b65;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	transition: .2s ease-in;
	text-align: center;
}

.btns {
	bottom: 5px;
	margin-left: 45%;
	margin-bottom: 2%;
	position: absolute;
}
.btnFrame {
	margin-right: 10px;
	background-color: #F15A24;
	color: #FFF;
	font-weight: bolder;
}